.Colors {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Colors > div {
    width: 20%;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plus-minus {
    position: absolute;
    
}